body {
    font-family: Roboto,sans-serif;
    color: white;
}

.main-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    overflow: auto;
    background: #38404e;
    padding: 25px 0 50px;
}

.main-menu .section-header {
    padding: 0 20px 20px;
    font-size: 18px;
}

.main-menu .nav-header {
    padding: 0 20px 20px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .05em;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 5px 0 15px;
    color: #919bac;
}

.main-menu ul li {
    height: 20px;
    padding: 9px 30px 0;
    cursor: pointer;
    line-height: 14px;
}

.main-menu ul li:hover {
    color: #ffffff;
}

.main-menu ul li.selected {
    color: #ffffff;
    box-shadow: inset 2px 0 0 0 #ec407a;
    -moz-box-shadow: inset 2px 0 0 0 #ec407a;
    -o-box-shadow: inset 2px 0 0 0 #ec407a;
    -webkit-box-shadow: inset 2px 0 0 0 #ec407a;
}

.main-content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 250px;
    background: #272d37;
    padding: 0 10%;
}

.main-content h1 {
    font-weight: 400;
}

.game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background: #38404e url(./img/tile.png) 56px 56px;
}

.game-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}